## TYPO3
# Ignore several upload and file directories.
/web/fileadmin/
/web/uploads/
/web/typo3conf/l10n/

#ignore extensions
/web/typo3conf/ext/

# Ignore cache
web/typo3conf/temp_CACHED*
web/typo3conf/temp_fieldInfo.php
web/typo3conf/deprecation_*.log
web/typo3conf/AdditionalConfiguration.php
/var/

# Ignore system folders
web/typo3
web/typo3_src
web/typo3_src-*
/.htaccess
web/index.php
ENABLE_INSTALL_TOOL

# Ignore temp directory.
/typo3temp/
/web/typo3temp/

#composer
vendor
_vm
bin

#IDE Stuff
.project
.pydevproject
.settings/
.idea
