## TYPO3 v6.2
# Ignore several upload and file directories.
/web/fileadmin/_processed_/
/web/fileadmin/_temp_/
/web/fileadmin/downloads/
/web/fileadmin/bilder/
/web/fileadmin/user_upload/
/web/fileadmin/videos/
/web/uploads/
/web/typo3conf/l10n/

#ignore extensions
/web/typo3conf/ext/

# Ignore cache
/typo3conf/temp_CACHED*
/typo3conf/temp_fieldInfo.php
/typo3conf/deprecation_*.log
/typo3conf/AdditionalConfiguration.php
# Ignore system folders
web/typo3
web/typo3_src
web/typo3_src-*
/.htaccess
web/index.php
# Ignore temp directory.
/typo3temp/

#composer
vendor
_vm
bin

#IDE Stuff
.project
.pydevproject
.settings/
.idea
